*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height: 100vh;

}
body{
    background-color: #bea5e2;
    display:flex;
    justify-content: center;
    align-items: center;

    
}
.card{
    width: 250px;
    height: 350px;
    background-color: #fff;
    padding:20px;
    text-align: center;

    
}

.card img{

    height:50%;
    width: 100%;
    object-fit: cover;
    object-position: center;

}
.card h1{
    font-size: 25px;
    margin:10px;
}
.card h5{
    font-size: 25px;
    color: red;
    margin: 20PX;
}

 .card button {
    background-color: rgb(124, 20, 214);
    padding:12px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    margin:2px;
    cursor: pointer;
}
